<!-- <app-single>
  <p>My Test element</p>
  <p>My Test element</p>
  <p>My Test element</p>
  <p>My Test element</p>
  <p>My Test element</p>
</app-single>
<br/>

<app-multi>
  <div lower>Lower Body</div>
  <div upper>Upper Body</div>
  <div mid>Mid</div>


  <div class="class-display">Display using class</div>

  <div id="myId">Display using id</div>
</app-multi> -->

<!-- <app-template-example></app-template-example> -->

<!-- <app-view-example></app-view-example> -->

<app-viewchild></app-viewchild>